body {
    background-color: #1E4A55;
    max-width: 100%;
    overflow-wrap: break-word;
    box-sizing: border-box;
}

header, footer {
    background-color: #1e554e;
    text-align: center;
}

#movieSearch {
    display: flex;
    justify-content: center;
}

#movieInfo {
    display: none;
    width: 100vw;
}

.moviePoster {
    width: 20vw;
    padding-left: 10px;
    padding-right: 10px;
}

.movieTitle { 
    display: none;
    text-align: center;
}

.movieDesc {
    width: 70vw;
}

.movieRating {
    display: flex;
    justify-content: center;
    list-style: none;
}

.movieRating li {
    padding-left: 5px;
}

.searchbar {
    width: 90vw;
}

.button {
    width: 10vw;
}

#descriptions {
    display: flex;
    flex-direction: column;
}

#ytReviews {
    display: none;
    width: 100vw;
    height: 30vh;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: 100vh;
  }