*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.617);
}

body {
    background-color: #1E4A55;
    box-sizing: border-box;
    height: 100vh;
    overflow-x: hidden;
}

h2{
    color: rgba(255, 255, 255, 0.617);
}

header {
    justify-content: center;
    align-items: center;
    text-align: center;
}

header, footer {
    background-color: #1e554e;
    display:flex;
}

#movieSearch {
    display: flex;
    justify-content: center;
}

#movieInfo {
    display: flex;
    opacity: 0;
    width: 100vw;
}

.moviePoster {
    width: 20vw;
    padding-left: 10px;
    padding-right: 10px;
}

.movieTitle {
    display: flex; 
    opacity: 0;
    justify-content: center;
}

.movieDesc {
    width: 70vw;
}

.movieRating {
    display: flex;
    justify-content: center;
    list-style: none;
}

.movieRating li {
    padding-left: 5px;
}

.searchbar {
    width: 90vw;
}

.button {
    width: 10vw;
}

#descriptions {
    display: flex;
    flex-direction: column;
    width: 65vw;
}

#ytReviews {
    display: flex;
    width: 100vw;
    height: 30vh;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }


#githubLink {
    padding-left: 10px;
    padding-top: 10px;
    height: 100px;
    width: 100px;
}

.githubProfiles {
    display: flex;
    align-items: center;
}

.githubProfiles>a{
    padding-left: 10px;
}