*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.617);
}

body {
    background-color: #1E4A55;
    box-sizing: border-box;
    height: 100vh;
    overflow-x: hidden;
}

h2{
    color: rgba(255, 255, 255, 0.617);
}

header {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 8vh
}

#history{
    position: absolute;
    left: 0;
    top: 0;
    height:8vh;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.617);
}

#history:hover{
    color:rgba(255, 255, 255, 0.888);
}

/*can restyle later */
#history-modal{
    display:flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.617);
    text-align: center;
    height:500px;
    width:500px;
    background-color: #1e554e;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5%;
}

.history-list>button{
    color: rgba(255, 255, 255, 0.617);
    cursor: pointer;
}

.history-list{
    display: flex;
    flex-direction: column;
}

.historybtn:hover {
    color: rgba(213, 209, 21, 0.691);
}

#movieSearch {
    display: flex;
}

.searchbar {
    width: 90vw;
}

.searchBtn{
    background-color:rgb(18 166 147);
    width: 10vw;
    height: 2.4375rem
}

header, footer {
    background-color: #1e554e;
    display:flex;
}

#movieInfo {
    display: flex;
    opacity: 0;
    width: 100vw;
}

.moviePoster {
    width: 25vw;
    padding-left: 10px;
    padding-right: 10px;
    object-fit: contain;
}

.movieTitle {
    display: flex; 
    opacity: 0;
    justify-content: center;
}

#descriptions {
    display: flex;
    flex-direction: column;
    width: 74vw;
    padding-right: 1vw;
}

.movieRating {
    display: flex;
    justify-content: center;
    list-style: none;
}

.movieRating li {
    padding-left: 5px;
}



.button {
    width: 10vw;
}



#ytReviews {
    display: flex;
    width: 100vw;
    height: 30vh;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }


#githubLink {
    padding-left: 10px;
    padding-top: 10px;
    height: 100px;
    width: 100px;
}

.githubProfiles {
    display: flex;
    align-items: center;
}

.githubProfiles>a{
    padding-left: 10px;
}